name: SFTP-Deploy
on:
  push:
    branches: [ "main" ]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      -
        name: deploy
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: 'velameweb'
          server: 'ftp.velameweb.com.br'
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          sftp_only: true
          local_path: '/'
          remote_path: '/gitlab'
          sftpArgs: '-o ConnectTimeout=20'
